@tailwind components;

@layer components {
  .video-container {
    position: relative;
    /* padding-bottom: 56.25%; */
  }
  .carousel {
   /* codigo de https://codepen.io/tacotoemeck */
    display: inline-flex;
    overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
    scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .link-block
  {
    @apply block mt-4;
  }
  .link-inline
  {
    @apply inline-block  mr-4;
  }
}
